/*----------loader spinner--------- */
.loader{
  /* margin: auto; */
  /* margin-top: 100px;
  margin-bottom: 100px; */
  border: 16px solid #bdc3c7;
  width: 120px;
  height: 120px;
  border-top-color: #1abc9c;
  border-bottom-color: #1abc9c;
  border-radius: 50%;
  animation: loading 2s linear infinite;
}
@keyframes loading {
  0%{
    transform: rotate(0deg) scale(1);
  }
  50% {
     transform: rotate(360deg) scale(1.15);
  }
  100%{
     transform: rotate(720deg) scale(1);
  }
}
.loaderContainer{
  width: 0;
  height: 0;
  position: fixed;
  z-index: 1;
  display: flex;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  background-color: var(--grey_clear);
  opacity: 80%;
  animation: loadingContainer 2s linear;
  overflow: hidden;
}

@keyframes loadingContainer {
  0% {
    width: 100vw;
    height: 100vh;
  }
  99% {
    width: 100vw;
    height: 100vh;
  }
  100% {
    width: 0;
    height: 0;
  }
}


body {
  margin: 0 auto;
  padding: 0;
  font-family: "Roboto", sans-serif, arial;
  box-sizing: border-box;
}
/* Elements order general */
:root{
  --primaryColor: #9356DC;
  --secondaryColor: #FF79DA; 
  --tertiaryColor: #99E2D0;
  --grey_clear: #f6f6f6;
  --grey:#eaeaea;
}
a{
  text-decoration: none;
  color: #000;
}

/* -----------header---------------- */
header{
  font-family: Shrikhand, sans-serif, arial;
  text-align: center;
  padding: 0;
}
header h1{
  font-weight: 400;
  font-size: 1.8rem; 
}
/* ------------Section location------------- */
.section__geolocation{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--grey);
  box-shadow: inset 0px 10px 15px -5px #d2d2d2;
}
.section__geolocation >i, p{
  padding: 5px 10px;
  font-weight: 400;
  font-size: 1.1rem;
  cursor: text;
  opacity: 60%;
  margin: 0;
 }

 /* ---------Section restaurants Explore--------------- */
 .section__restaurants__explore{
   text-align: center; 
   background-color: #f6f6f6;
 }
 .section__restaurants__explore >h2{
   padding-top: 25px;
   font-weight: bold;
   margin: 0;
 }
 .section__restaurants__explore p{
   font-weight: 100;
   margin-bottom: 35px;
   opacity: 0.6;
 }
 .section__restaurants__explore .bnt_restaurant{
   display: inline-block;
   border: none;
   border-radius: 50px;
   text-decoration: none;
   padding: 15px;
   font-size: 1rem;
   background-color: var(--secondaryColor);
   background: linear-gradient(to bottom , var(--secondaryColor), var(--primaryColor));
   color: white;
   margin-bottom: 60px;
   box-shadow: 0px 2px 5px black;
   cursor: pointer;
   transition: all .5s;    
 }
 .bnt_restaurant:hover{
  filter: opacity(70%);
  transform: scale(1.1);
  cursor: pointer;
}
/* -------------Section steps--------------  */
.section__steps{
  width: 90%;
  margin: auto;
}
.section__steps > h2{
  padding: 20px 0; 
}
.section__steps .steps{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  border-left: none;
  margin-bottom: 50px;
}
.section__steps .steps .step{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid;
  width: 74%;
  margin: 10px 0;
  padding: 20px 30px;
  border: none;
  border-radius: 20px;
  box-shadow: 3px 3px 10px #d2d2d2;
  position: relative;
  left: 10px;
}
.section__steps .steps .step:nth-child(-n+2){
  background-color: var(--grey_clear);
}

.steps .number{
  position: relative;
  left: -42px;
  padding: 4px 9px;
  border: 1px solid;
  border-radius: 50%;
  color: #FFF;
  background-color: var(--primaryColor); 

}
.steps i{
  position: relative;
  left: -20px;
}
.step p{
  padding: 10px 0;
  margin: 0;
  font-size: 0.9rem;
}
.steps .icon3{
  color: var(--primaryColor);
}
.steps .step_three{
  background-color: #f5edff;
}

/* -----------Section restaurants-------------- */
.section_restaurants{
  width: 100%;
  background-color: var(--grey_clear);
  padding-bottom: 35px;
}
.section_restaurants img{
  width: 335px;
  height: 175px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.note_enchantee{
  height: 200px;
}
.restaurants{
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.restaurants > h2{
  padding: 40px 0 5px;
  flex: 100%;
}
.section_restaurants figure{
  margin: 15px 0;
  padding: 0;
  width: 335px;
  border-radius: 15px;
  background-color: white;
  position: relative;
}
.section_restaurants figure figcaption{
  width: 90%;
  margin: 0 auto;
}
.section_restaurants  h3{
  margin: 18px 9px 4px;
}
.section_restaurants figcaption:nth-last-child(1){
  margin: 0px 0 15px;
  padding: 0;
  font-size: 1rem;
  font-weight: 400;
}
.section_restaurants figcaption :nth-last-child(1):after{
  content: "\f004";
  font-family: "Font Awesome 5 Free";
  font-size: 1.4rem;
  font-weight: 400;
  position: absolute;
  top: 210px;
  left: 285px;
  transition: transform 1.3s;
}
.section_restaurants figcaption :nth-last-child(1):hover:after{
  font-weight: 700;
  background: -webkit-linear-gradient(#8a51d1, #fd75d7);
  -webkit-background-clip: text;
  -webkit-background-size: 200% 200%;
  -webkit-text-fill-color: transparent;
  transform: scale(1.1);
}
.new_restaurant{
  position: absolute;
  top: 15px;
  left: 230px;
  height: 30px;
  background-color: #99e2d0;
  border-radius: 3px;
}
.new_restaurant p{
  font-size: 1rem;
  padding: 15px;
  line-height: 0;
  color: #189577;
}
/* ------------footer------------- */
footer{
  background-color: #353535;
  height: 42vh;
}
footer h3{
  padding: 32px 0 5px;
  color: white;
  font-family: Shrikhand, sans-serif, arial;
  font-weight: lighter;
  margin: 0;
}
.options_footer{
  width: 90%;
  margin: auto;
}
.options_footer i{
  padding-right: 7px;
}
.partner__logo{
  font-size: 0.7rem;
}
footer a{
  display: block;
  color: white;
  padding: 5px 0px;
}
/*-----------Media queries--------------------- */
@media screen and (min-width: 380px){
  .section__steps .steps{
    display: flex;
    justify-content: center;
  }
  .restaurants{
    justify-content: center;
  }
  .options_footer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .footer h3{
    display: block;
  }
  footer a{
    padding: 5px 23%;
  }
}
@media screen and (min-width: 581px){
  footer a{
    padding: 5px 32%;
  }
}
@media screen and (min-width: 745px){
  .section__steps .steps .step{
    width: 35%;
    margin: 10px 10px; 
  }
  .restaurants{
    justify-content: space-between;
  }
  .options_footer{
    justify-content: space-between;
  }
  footer a{
    padding: 35px 0;
  }
  footer{
    height: 20vh;
  }
}
@media screen and (min-width: 845px){
  .restaurants{
    justify-content: space-around;
  }
}
@media screen and (min-width: 1024px){
  .section__steps .steps{
    display: flex;
    justify-content: center;
  }
  .restaurants{
    justify-content: space-around;
  }
}
@media screen and (min-width: 1850px){
  .section__steps .steps .step{
    width: 28%;
    margin: 10px 15px; 
  }
  .options_footer{
    justify-content: space-around;
  }
}